/* card-list */
.cards {
  display: flex;

  .card {
    cursor: pointer;
    border-radius: 20px;
    overflow: hidden;
    background-color: $main-color;
    box-shadow: $box-shadow;
    width: 350px;
    margin: 0 16px;

    &__body {
      padding: 50px;
      display: flex;
      flex-direction: column;
      justify-self: content-align;
      align-items: center;
      flex: 1;
      &__title {
        cursor: pointer;
        font-weight: 500;
        line-height: 1.8rem;
        color: $text-white;
        margin: 10px;
        word-break: break-all;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        word-break: break-word;
        overflow: hidden;
        display: block;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
      }
      &__user {
        @include flex(center, center);
        margin-top: auto;
        flex-shrink: 0;
        &-avatar {
          width: 40px;
          height: 40px;
          border-radius: 100rem;
          object-fit: cover;
          flex-shrink: 0;
        }
        &-info {
          padding-left: 20px;
          flex: 1;

          &__top {
            display: flex;
            align-items: center;
            margin-bottom: 2px;
          }
          &__name {
            color: $text-white;
            font-weight: 500;
            font-size: 14px;
            line-height: 1;
          }
          &__position {
            color: $text-white;
            font-weight: 300;
            font-size: 13px;
          }
        }
      }
    }
  }
}
