.table {
  width: 1820px;
  height: auto;
  border: 1px solid #ffffff;
  background-color: #fafafa;
  padding: 10px;
  &_header {
    display: flex;
    font-size: 20px;
    width: auto;
    color: #515a6e;
    background-color: #fafafa;
    padding: 10px;
    align-items: center;
    justify-content: space-between;

    &-right {
      margin-left: 50px;
    }
  }

  &_title {
    padding: 10px;
    display: flex;
    color: #515a6e;
    background-color: #fafafa;
    align-items: center;
    justify-content: space-between;

    &-desc {
      margin-right: 1230px;
    }
  }

  &_item {
    cursor: pointer;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-desc {
      margin-right: 1200px;
    }
    &:hover {
      background-color: #ffffff;
      transform: scale(1.02);
      box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0.2);
    }
  }
}
