.admin {
  overflow: auto;
  font-weight: 400;
  min-height: 100vh;
  min-width: 1000px;

  &_header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: $header-height;
    padding: 0 10px;
    background-color: #fff;
    box-shadow: $box-shadow;

    &_account {
      font-family: 'Roboto', sans-serif;
      display: flex;
      align-items: center;
      gap: 16px;
      color: $text-second-color;
      font-size: 18px;
      font-weight: 500;
      -webkit-font-smoothing: antialiased;
    }
  }
  &_content {
    height: 100%;
    margin-left: $sidebar-width;
    padding: 8px 10px 0;
  }
}
