.btn {
  @include flex(center, center);
  position: relative;
  color: $text-white;
  font-size: 1.5rem;
  font-weight: 500;
  cursor: pointer;
  border-radius: 4px;
  padding: 6px 20px;
  transition: all 0.2s ease-out;
  text-align: center;

  &-lg {
    width: 100%;
    padding: 1rem 2rem;
  }

  &:hover {
    opacity: 0.8;
  }
}
