.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: $sidebar-width;
  height: 100%;
  background-color: #fff;
  box-shadow: $box-shadow;

  .logo {
    width: 100%;
    padding-top: 20px;
    &_wrapper {
      margin: 0 auto;
      width: 80px;
      height: 80px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  .option {
    border-top: 2px solid #e5e5e5;
    margin-top: 20px;
    width: 100%;
    &_button {
      font-family: 'Roboto', sans-serif;
      font-size: 15px;
      font-weight: 500;
      color: $text-second-color;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-left: 5px solid transparent;
      padding: 16px;
      width: 100%;
      user-select: none;
      transition: all 0.2s ease-in;
      cursor: pointer;
      i {
        font-size: 20px;
        transition: all 0.35s ease;
        &.show {
          transform: rotate(180deg);
        }
      }
      &:hover {
        background-color: rgba(34, 143, 206, 0.1);
        border-left-color: rgba(2, 142, 223, 0.6);
      }
      &.active {
        background-color: rgba(34, 143, 206, 0.1);
        border-left-color: rgb(2, 142, 223);
      }
    }
    &_children {
      display: flex;
      flex-direction: column;
      background-color: rgb(250, 250, 250);
      &_item {
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        font-weight: 500;
        padding: 16px 0;
        cursor: pointer;
        &_link {
          display: block;
          padding: 16px 24px;
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}
