.content {
  padding: 16px 200px 4px;
  &_container {
    display: grid;
    grid-template-areas:
      'header header'
      'item item';
    background-color: $main-background;
    box-shadow: $box-shadow;
    justify-content: space-between;
    color: $text-second-color;
    overflow: auto;
    white-space: nowrap;
    .panel__title {
      padding: 2rem;
      font-size: 2rem;
    }
    .panel__extra {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      .filter {
        display: flex;
        list-style: none;
        align-items: center;
        li {
          display: flex;
          align-items: center;
          padding-right: 2rem;
          .dropdowns {
            position: relative;
            width: 130px;
            user-select: none;
            &__btn {
              display: flex;
              align-items: center;
              justify-content: space-evenly;
              cursor: pointer;
              i {
                font-size: 10px;
              }
            }
            &__content {
              position: absolute;
              top: 100%;
              background-color: $main-background;
              box-shadow: $box-shadow;
              padding: 0.9rem 0;
              left: 0;
              width: 115%;
              &__item {
                padding: 0.5rem 2rem;
                width: 100%;
                cursor: pointer;
                &:hover {
                  transition: all 0.3s ease-out;
                  color: $text-white;
                  border-color: $text-second-color;
                  background-color: $text-second-color;
                  opacity: 0.4;
                }
              }
            }
          }
          .input__wrapper {
            display: inline-block;
            box-sizing: border-box;
            border: 1px solid $input-color;
            border-radius: 4px;
            user-select: none;
            input[type='text'] {
              padding: 5px;
            }
            i {
              cursor: pointer;
              padding: 10px;
            }
          }
        }
      }
    }
  }
}
