.content__container {
  background-color: $main-background;
  box-shadow: $box-shadow;
  color: $text-second-color;
  overflow: auto;
  white-space: nowrap;
  margin: 0 100px;
  .content__description {
    padding: 4rem;
    .content__card {
      display: grid;
      grid-template-areas:
        "header header"
        "item item"
        "none button";
      justify-content: space-between;
      &--head {
        display: flex;
        font-size: 2rem;
        font-weight: bold;
      }
      &--extra {
        display: flex;
        align-items: center;
        background-color: $main-background;
        box-shadow: $item-color 0px 0px 0px 1px;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 3px;
        padding-bottom: 3px;
        i {
          padding-right: 3px;
        }
      }
      &--body {
        margin-top: 2rem;
        margin-bottom: 2rem;
      }
      &--button {
        grid-area: button;
        background-color: $main-color;
        color: $text-white;
        padding: 5px 15px;
        border-radius: 5px;
        margin: 10px 0px;
        cursor: pointer;

        &:hover {
          opacity: 0.8;
        }
      }
    }
    .content__table {
      display: grid;
      grid-template-areas:
        "header header header"
        "item item item";
      justify-content: space-between;

      &--item {
        font-weight: bold;
      }
    }
  }
}
