.create_container {
  display: flex;
  background-color: $main-background;
  box-shadow: $box-shadow;
  overflow: auto;
  white-space: nowrap;
  padding: 15px;
  margin: 15px;
  width: 50%;
  .create_description {
    display: flex;
    .create_card {
      list-style: none;
      &--input {
        display: inline-block;
        box-sizing: border-box;
        border: 1px solid $input-color;
        border-radius: 4px;
        user-select: none;
        margin: 10px;
        width: 300%;
        textarea {
          padding: 5px;
          width: 100%;
          height: 100px;
          resize: none;
        }
        input[type='text'] {
          padding: 5px;
          width: 100%;
        }
      }
    }
  }
}

.react-datepicker {
  font-size: 1.4rem;
}
