.create_container {
  display: flex;
  background-color: $main-background;
  box-shadow: $box-shadow;
  overflow: auto;
  white-space: nowrap;
  padding: 15px 0;
  margin: 15px;
  width: 44%;
  .create_description {
    display: flex;
    .create_card {
      list-style: none;
      &--input {
        display: inline-block;
        box-sizing: border-box;
        border: 1px solid $input-color;
        border-radius: 4px;
        user-select: none;
        margin: 10px;
        width: 250%;
        textarea {
          padding: 5px;
          width: 100%;
          height: 100px;
          resize: none;
        }
        input[type='text'] {
          padding: 5px;
          width: 100%;
        }
      }
      &--button {
        text-align: right;
        width: 255%;
        .btnAdd {
          background-color: green;
          color: $text-white;
          font-size: 1.5rem;
          margin: 0 10px;
          cursor: pointer;
          border-radius: 4px;
          padding: 4px 15px;
          opacity: 0.9;

          &:hover {
            opacity: 0.8;
          }
        }
        .btnRemove {
          background-color: red;
          color: $text-white;
          font-size: 1.5rem;
          margin: 0 10px;
          cursor: pointer;
          border-radius: 4px;
          padding: 4px 15px;

          &:hover {
            opacity: 0.8;
          }
        }
      }
    }
  }
}

.react-datepicker {
  font-size: 1.4rem;
}
